$up-text-color: #000;
$up-bg-color: #ddd;
$up-border-color: #ddd;
$up-text-shadow: none;

$down-text-color: #000;
$down-bg-color: #bbb;
$down-border-color: #aaa;
$down-text-shadow: 0.5px 0.5px 1px #f0f0f0;

:host {
  display: inline-block;
  align-items: flex-start;

  padding: 2px 7px;
  margin: 0;

  font: 400 13.3333px Arial;
  letter-spacing: normal;
  word-spacing: normal;

  color: $up-text-color;
  text-align: center;
  text-indent: 0;
  text-rendering: auto;
  text-shadow: $up-text-shadow;
  text-transform: none;

  cursor: default;

  background-color: $up-bg-color;
  border-color: $up-border-color;
  border-image: initial;
  border-style: outset;
  border-width: 2px;

  user-select: none;

  -webkit-appearance: button;
  -moz-appearance: button;
}

:host([pressed]) {
  padding: 2px 6px 2px 8px;
  color: $down-text-color;
  text-shadow: $down-text-shadow;
  background-color: $down-bg-color;
  border-color: $down-border-color;
  border-style: inset;
}

:host([hidden]) {
  display: none;
}
